h2 {
  margin: 0;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-block {
  display: flex;
  gap: 1.5rem;
}

.profile-block__name {
  font-family: 'Alegreya Sans';
  font-size: 2rem;
}

.profile-block__avatar {
  width: 2.2rem;
  height: 2.2rem;
}

.my-ads {
  display: block;
  width: 10rem;
  height: 2rem;
  background-color: azure;
  box-shadow: 2px 3px 3px black;
  border: 1px solid black;
}

.create-advertisement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  
}

.advertisement-img {
  width: 3rem;
  cursor: pointer;
  box-shadow: 2px 3px 3px black;
  border-radius: 50%;
  transition: all 0.3s;
}

.advertisement-img:hover {
  transform: scale(1.1);
}