.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field {
  font-family: 'Alegreya Sans';
  font-size: 1.5rem;
}

.input-style {
  padding: 0.2rem 1rem 0.2rem;
  border-radius: 5rem;
  border: 1px solid black;
}

.input-style_falsy {
  border: 1px solid red;
}

.description-input {
  width: 100%;
  height: 7rem;
  font-family: 'Alegreya Sans';
  font-size: 1rem;
  padding: 0.2rem 1rem 0.2rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.user-wrapper {
  cursor: pointer;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px black;
  transition: 0.3s;
}

.user-wrapper:hover {
  scale: 1.1;
}

.title-block {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.subtitle-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.avatar-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 3rem);
  grid-template-rows: repeat(2, 3.2rem);
  row-gap: 0.3rem;
  column-gap: 1rem;
  
}

.events-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.options-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block {
  width: 3.1rem;
  height: 3rem;
}

.block-item {
  width: 3.1rem;
  height: 3rem;
  border: 1px solid black;
  transition: all 0.3s;
}

.block-item:hover {
  transform: scale(1.1);
}

.block-0 {
  background-image: url(../img/avatars/female-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block-1 {
  background-image: url(../img/avatars/female-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block-2 {
  background-image: url(../img/avatars/female-3.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block-3 {
  background-image: url(../img/avatars/female-4.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block-4 {
  background-image: url(../img/avatars/male-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block-5 {
  background-image: url(../img/avatars/male-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block-6 {
  background-image: url(../img/avatars/male-3.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block-7 {
  background-image: url(../img/avatars/male-4.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block-admin {
  background-image: url(../img/avatars/admin.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block-moderator {
  background-image: url(../img/avatars/moderator.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block-item_activ {
  transform: scale(1.1);
  border: 2px solid green;
  box-shadow: 2px 2px 2px green;
}

.button {
  width: 7rem;
  height: 3rem;
  font-family: 'Alegreya Sans';
  font-size: 1.4rem;
  cursor: pointer;
  background-color: rgba(124, 39, 202, 0.623);
  border: none;
  border-radius: 1.2rem;
  transition: 0.2s;
}

.button:hover {
  transform: scale(1.08);
}

.login-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

.login-offer {
  margin: 0;
}