/* alegreya-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/alegreya-sans-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alegreya-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../font/alegreya-sans-v24-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alegreya-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../font/alegreya-sans-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

body {
  font-family: 'Alegreya Sans';
  font-size: 18px;
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: rgb(233, 225, 211);
}

.body_inactive {
  padding-right: 14px;
  overflow-y: hidden;
}

/* header */
.container {
  margin: 2rem 0 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navlist {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  max-width: 12rem;
  border-radius: 2rem;
}

.search {
  display: flex;
  gap: 0.5rem;
}

.search__field {
  width: 12rem;
  padding: 0.5rem;
  height: 2rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.search__button {
  width: 4.5rem;
  height: 2rem;
  border-radius: 1rem;
  border: transparent;
  background-color: rgb(111, 58, 160);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.search__button:hover {
  box-shadow: 1px 1px 2px black;
}

.search__button:active {
  background-color: rgb(178, 98, 253);
}

.navlist__item {
  list-style-type: none;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: 'Alegreya Sans';
  font-size: 22px;
  transition: all 0.3s;
}

.navlist__item:hover {
  text-shadow: 1px 1px 2px black;
}

.navlist__item:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: all 0.3s;
}

.navlist__item:hover:after, .navlist__item:focus:after {
  width: 100%;
}

.navlist__item_disabled {
  display: none;
}
/* header */

/* modal */

.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.829);
  z-index: 2;
}

.modal-back_active {
  display: flex;
}

.modal-window {
  margin-top: 5rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.7rem;
  background-color: white;
  box-shadow: 3px 5px 20px white;
  position: relative;
}

.exit-button {
  width: 1.9rem;
  height: 1.9rem;
  background-image: url(../img/cross.svg);
  background-size: cover;
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  cursor: pointer;
  transition: 0.2s;
}

.exit-button:hover {
  transform: scale(1.2);
}

/* modal */

/* main */
.main {
  position: relative;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.main-container {
  width: 100%;
  margin-top: 3rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}



.ads {
  background-color: rgb(233, 225, 211);
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 3rem;
}

.add-button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: transparent;
  background-color: rgb(111, 58, 160);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.add-button:hover {
  box-shadow: 1px 1px 2px black;
}

.add-button:active {
  background-color: rgb(178, 98, 253);
}
/* main */